<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body class="container">
    <header><a href="/contact">ContactUS</a><%- include('./navbar'); %></header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <h4>This is the Conatct Page</h4>
      </div>
    </main>
  </body>
</html>
